@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

body{
    background-color: #222222;
    font-family: 'Squada One', cursive;
}

.navBar{
    background-color: #2a2a2a;
}

.jumbo{
    background-color: #545454;
    border-radius: 60px;
}

.stroke{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.image{
    border-radius: 60px;
}